.premium-navbar {
  background: white;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  padding: 14px 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.system-title {
  font-weight: 700;
  color: #111827;
}

.system-subtitle {
  color: #6b7280;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 14px;
}

.user-name {
  font-weight: 600;
  color: #111827;
}

.user-role {
  color: #6b7280;
}

.avatar-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #2563eb;
  color: white;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  border-radius: 8px;
  padding: 6px 14px;
}